@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}


html { scroll-behavior: smooth; }

img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

h1, h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 56px;
    line-height: 1.1;
    color: #242424;
    font-weight: 700;
}

h6 {
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    line-height: 1.1;
    color: #242424;
    font-weight: 700;
}

h5 {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    color: #242424;
    font-weight: 700;
}

a {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #242424;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #696969;
}



.wrapper {
    box-sizing: border-box;
    width: 100%;
    height: min-content; /* 3393px */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    background-color: #FCF8F5;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 56;
    position: absolute;
    border-radius: 0px 0px 0px 0px;
}

.hero {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #EEF2F3;
    overflow: hidden;
    z-index: 1;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: wrap;
    gap: 48;
    border-radius: 30px;
}

.header {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 92px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 50px 0px 50px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    align-content: flex-start;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 0px 0px 0px 0px;
  }

  .navbar {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 24px 24px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 24;
    border-radius: 15px 15px 0px 0px;
    background: #EEF2F3;
  }

#logo {
    width: 4em;
}

   ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
  }

  li {
    margin: 15px;
  }

.wrapper-2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 56px 115px;
    background-color: #EEF2F3;
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 0px 0px 0px 0px;
}

.wrapper-2 h1 {
    margin-bottom: 28px;
}

.wrapper-2 h4 {
    margin-bottom: 28px;
}

.button {
    box-sizing: border-box;
    flex-shrink: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 30px;
    background:#ffffff;
}

.button a {
    transition: all 0.3s;
    cursor: pointer;
}

.button:hover {
    background:#7792f3;
}

.button:hover a {
        color: #EEF2F3 !important;
        font-size: 17px;
}

.button-2 {
    box-sizing: border-box;
    flex-shrink: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 30px;
    border: 3px solid #242424;
    background:#EEF2F3;
}
    

.button-2 a {
    transition: all 0.3s;
    cursor: pointer;
}

.button-2:hover {
    background:#7792f3;
    border: none;
}

.button-2:hover a {
        color: #EEF2F3 !important;
        font-size: 15px;
}

#popular-1 {
    border-radius: 30px;
}

.wrapper-3 {
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 861px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
    position: relative;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: wrap;
    gap: 0;
    border-radius: 30px;
    margin-top: 35px;
}

.vai-pra-baixo {
    margin-bottom: 28px;
}

.container-1 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 420px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 56px 56px 56px;
    background-color: #FFE4C9;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 0px 0px 0px 0px;
}

.popular-1 > h4 {
    margin-top: 25px;
}

.popular-1 > h6 {
    margin-top: 10px;
}

.popular-2 > h4 {
    margin-top: 40px;
}

.popular-2 > h6 {
    margin-top: 10px;
}

.popular-3 > h4 {
    margin-top: 25px;
}

.popular-3 > h6 {
    margin-top: 10px;
}

.container-2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 576px */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 56px 56px 56px;
    background-color: #ffe4c9;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 56;
    border-radius: 0px 0px 0px 0px;
}

.popular-1 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 329px;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 36px 36px 36px 36px;
    background-color: #fccfa8;
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 4;
    border-radius: 30px;
}

.popular-2 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 396px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 36px 36px 36px 36px;
    background-color: #d6d4e0;
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 4;
    border-radius: 30px;
}

.popular-3 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 329px;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 36px 36px 36px 36px;
    background-color: #fccfa8;
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 4;
    border-radius: 30px;
}

.wrapper-4 {
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 1199px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
    position: relative;
    padding: 0px 0px 0px 0px;
    flex-wrap: wrap;
    gap: 0;
    border-radius: 30px;
    margin-top: 35px;
    background-color:#ffe4c9 ;
}

.container-3 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 223px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 72px 56px 72px 56px;
    background-color: #ffe4c9;
    overflow: hidden;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    gap: 28;
    border-radius: 0px 0px 0px 0px;
}

.container-4 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 976px */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    padding: 0px 56px 56px 56px;
    background-color: #ffe4c9;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
    gap: 56;
    border-radius: 0px 0px 0px 0px;
}

.container-6{
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: min-content; /* 976px */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    padding: 0px 56px 56px 56px;
    background-color: #ffe4c9;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
    gap: 56;
    border-radius: 0px 0px 0px 0px;
}

.livro-1, .livro-3, .livro-5 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 329px;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 36px 36px 36px 36px;
    background-color: #fccfa8;
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 4;
    border-radius: 30px;
}

.livro-1 > h4{
    margin-top: 20px;
}

.livro-3 > h4{
    margin-top: 20px;
}

.livro-5 > h4{
    margin-top: 20px;
}


.livro-2, .livro-4, .livro-6 {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 329px;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 36px 36px 36px 36px;
    background-color: #FFCC99;
    overflow: hidden;
    position: relative;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 4;
    border-radius: 30px;
}

.livro-2 > h4{
    margin-top: 20px;
}

.livro-4 > h4{
    margin-top: 20px;
}

.livro-6 > h4{
    margin-top: 20px;
}

.wrapper-5 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  height: min-content; /* 448px */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 72px 56px 56px 56px;
  background-color:#d6d4e0;
  overflow: hidden;
  z-index: 0;
  position: relative;
  align-content: center;
  flex-wrap: wrap;
  gap: 28;
  border-radius: 30px;
  margin-top: 35px;
}

.container-5 {
  flex-shrink: 0;
  width: auto; /* 654px */
  height: auto; /* 80px */
  white-space: pre-line;
  position: relative;
  text-align: center;
}

.contato {
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.text {
  flex-shrink: 0;
  width: 575px;
  height: auto; /* 134px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  position: relative;
  line-height: 1.2;
  text-align: center;
}

.wrapper-6 {
    box-sizing: border-box;
    width: 100%;
    height:max-content; /* 141px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 40px 30px 60px;
    background-color: #FCF8F5;
    overflow: visible;
    align-content: center;
    flex-wrap: nowrap;
    gap: 60;
    position:static;
    border-radius:29px;
    border-color: rgba(0, 0, 0, 0.05);
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-top: 35px;
}

.go-top {
    position:fixed;
    bottom: 0px;
    left:0px;
    padding:20px;
    display:none;
    cursor: pointer;
  }
  .go-top:after {
    content: '▲';
    color: #000;
    position: absolute; 
    bottom:10px;
    left: 50px;
    font-size: 32px;
  }

  @media (max-width: 400px) {

    h1, h2 {
        font-family: 'Outfit', sans-serif;
        font-size: 35px;
        line-height: 1.1;
        color: #242424;
        font-weight: 700;
    }

    .popular-1, .popular-2, .popular-3{
        margin-top: 9%;
        width: 238px;
        height: 400px;
    }

    .wrapper-4 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: min-content; /* 2928px */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 56px 56px 56px;
        background-color:#ffe4c9;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 56;
        border-radius: 30px;
    }

    .container-4 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: min-content; /* 576px */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0px 56px 56px 56px;
        background-color: #ffe4c9;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 56;
        border-radius: 0px 0px 0px 0px;
    }

    .container-6 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: min-content; /* 576px */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0px 56px 56px 56px;
        background-color: #ffe4c9;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 56;
        border-radius: 0px 0px 0px 0px;
    }

    .livro-1, .livro-3, .livro-5 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 36px 36px 36px 36px;
        background-color:#fccfa8;
        overflow: hidden;
        position: relative;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 4;
        border-radius: 30px;
        margin: 9%;
    }

    .livro-2, .livro-4, .livro-6 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 238px;
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 36px 36px 36px 36px;
        background-color:#FFCC99;
        overflow: hidden;
        position: relative;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 4;
        border-radius: 30px;
        margin: 9%;
    }

    .text {
        flex-shrink: 0;
        width: 300px;
        height: auto; /* 134px */
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-word;
        position: relative;
        line-height: 1.2;
        text-align: center;
    }
      

}

@media (max-width: 700px){

    .popular-1, .popular-2, .popular-3{
        margin-top: 9%;
    }

    .wrapper-4 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: min-content; /* 2928px */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 56px 56px 56px;
        background-color:#ffe4c9;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: wrap;
        gap: 56;
        border-radius: 30px;
    }

    .livro-1, .livro-3, .livro-5 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 329px;
        height: 432px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 36px 36px 36px 36px;
        background-color:#fccfa8;
        overflow: hidden;
        position: relative;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 4;
        border-radius: 30px;
        margin: 9%;
    }

    .livro-2, .livro-4, .livro-6 {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 329px;
        height: 432px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 36px 36px 36px 36px;
        background-color:#FFCC99;
        overflow: hidden;
        position: relative;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 4;
        border-radius: 30px;
        margin: 9%;
    }
}